@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist
@using HairSalon.Models

@if (Model.Clients.Count == 0)

{
  <p>No Clients Added Yet</p>
}

<ul>
@foreach (Client client in Model.Clients) 
{
<li>@client.FirstName @client.LastName @client.GoesBy | @Model.GoesBy</li>
}
</ul>